<%= form_with(model: file_export, local: true) do |form| %>
  <% if file_export.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(file_export.errors.count, "error") %> prohibited this file_export from being saved:</h2>

      <ul>
      <% file_export.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :file %>
    </div>
    <div class="col-md-9">
      <%= form.file_field :file, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :description %>
    </div>
    <div class="col-md-9">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
  </div>
  <div class="action-group row">
    <div class="col-md-3"></div>
    <div class="col-md-9" style="text-align: right;">
      <%= form.submit 'Create', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
