<p id="notice"><%= notice %></p>

<h1>File Exports</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>File</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_exports.each do |file_export| %>
      <tr>
        <td><%= link_to 'Download file', file_export.file.url %></td>
        <td><%= file_export.description %></td>
        <td><%= link_to 'Show', file_export %></td>
        <td><%= link_to 'Edit', edit_file_export_path(file_export) %></td>
        <td><%= link_to 'Destroy', file_export, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File Export', new_file_export_path %>
