<li id="post-<%= post.id %>">
  <%= image_tag "https://img.icons8.com/bubbles/2x/administrator-male.png", size: 60 %>
  <span class="user"><%= post.user %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp"><%= post.time %></span>
</li>
