<%= form_with(model: product, local: true, html: { class: 'form-horizonte' }) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :name, '商品名' %>
    </div>
    <div class="col-md-9">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :price, '値段' %>
    </div>
    <div class="col-md-9">
      <%= form.text_field :price, class: 'form-control' %>
    </div>
  </div>

  <!-- <div class="form-group row">
    <div class="col-md-3">
      <label style="margin-right: 10px;">Selling: </label>
    </div>
    <div class="col-md-9" style="display: inline-block;">
      <%#= form.label :selling, 'Yes' %>
      <%#= form.radio_button :selling, 'yes' %>
      <%#= form.label :selling, 'No' %>
      <%#= form.radio_button :selling, 'no' %>
    </div>
  </div> -->

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :image_url, '画像' %>
    </div>
    <div class="col-md-9">
      <%= form.text_field :image_url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :description, '詳細' %>
    </div>
    <div class="col-md-9">
      <%= form.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :code, 'もっと見る' %>
    </div>
    <div class="col-md-9">
      <%= form.text_field :code, class: 'form-control' %>
    </div>
  </div>

  <div class="action-group row">
    <div class="col-md-3"></div>
    <div class="col-md-9" style="text-align: right;">
      <%= link_to '取消', products_path, class: 'btn btn-warning', style: 'font-family: inherit;' %>
      <%= form.submit '作成', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
